
<div>
 <h1>If You Dare</h1>
 
  <h2>👇 Add new Thing contender 👇 </h2>
  <form action="/things/add" method="POST">
    Contenders Name:<br>
    <input type="text" name="name" placeholder="write name here">
    <br>
    URL:<br>
    <input type="text" name="url" placeholder="url">
    <br>
    Shininess:
    <br>
     <input type="text" name="shininess" placeholder ="input level out of 5">
    <br>
    carbohydrate:<br>
     <input type="text" name="carbohydrate" placeholder ="input level out of 5">
    <br>
    stealth: <br>
     <input type="text" name="stealth" placeholder ="input level out of 5">
    <br><br>
    <input type="submit" value="Add">
  </form>
  
</div>
    <style>
div {
  text-align: center
}
body{
  color: #FCCA46;
  background-color: #233D4D;
}
span {
  color: #A1C181;
}
  </style>